

@font-face{
	font-family: myFonts;
	src: url(../fonts/Sansation-Bold.ttf);
}

@font-face{
	font-family: myFonts2;
	src: url(../fonts/Fontaine.ttf);
}
*{
	margin:0px;
	padding: 0px;
	font-family: myFonts;
}
body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.main{
	position: relative;
	padding-bottom: 950px;
}
.header{
	background-color: #004d39;
	padding: 20px;
	font-size: 80px;
	color: #ddd;
	width: 100%;
	position: relative;	
	z-index: 45;
}
.csec_logo{
	position: absolute;
	bottom: 20px;
}

a{
	color: #ccc;
	text-decoration: none;
}

#playQuit{
	position: absolute;
	top: 1000px;
	left: 700px;
	-webkit-transition: all 3s;
     -moz-transition: all 3s;
     transition: all 3s;
}

#playQuit.init{
	top: 1000px;
}
#playQuit.final{
	top: 700px;	
}
#play{
	display: inline;
	font-size: 30px;
	max-width: 200px;
	height: auto;
	color: #222;
	margin: 0px 5px;
	padding: 10px 90px;
	z-index: 42;
	border: 3px solid #222;
	left: 900px;
	-webkit-transition: all 1s;
     -moz-transition: all 1s;
     transition: all 1s;
}
#play.init {
	top: 1000px;
}
#play.final {
	top: 500px;
}
#quit{
	display: inline;
    font-size: 30px;
    padding: 10px 40px;
    margin: 0px 5px;
    /*top: 1000px;*/
    max-width: 200px;
	height: auto;
	color: #222;
	border: 3px solid #222;
    bottom: 50px;
    z-index: 45;
    -webkit-transition: all 1s;
     -moz-transition: all 1s;
     transition: all 1s;
}
#quit.init {
	top: 1000px;
}
#quit.final {
	top: 500px;
}

.coolPac{
	display: inline;
}
#play_button:hover, #quit_button:hover{
	background-color: #ccc;
	color: #333;
	border-color: #ccc;
}
a:hover{
	color: #333;
}

#movingDiv {
	 height: 400px;
     position: absolute;
     top:150px;
     left: 0px;
     z-index: 36;
     background-color: #00cc99;
     -webkit-transition: all 3s;
     -moz-transition: all 3s;
     transition: all 3s;
 }

 #movingDiv.init {
 	left: 0px;
 }

 #movingDiv.final {
 	left: 1500px;
 }

 #movingPac {
	 max-width: 450px;
	 height: 300px;
     position: absolute;
     left: 355px;
     z-index: 42;
background-color: #00cc99;
     -webkit-transition: all 2.5s;
     -moz-transition: all 2.5s;
     transition: all 2.5s;
 } 

#movingPac.init {
	top: -220px;
}

#movingPac.final {
	top: 250px;
}


#hangpac{
	max-width: 100%;
	height: auto;
	position: absolute;
	top:-430px;
	left:800px;
	z-index: 38;
	background-color: #00cc99;
	-webkit-transition: all 3s;
     -moz-transition: all 3s;
     transition: all 3s;
}

#hangpac.init{
	top:-220px;
}
#hangpac.final{
	top: 200px;
}


#rope{
	max-width: 100%;
	height: auto;
	position: absolute;
	left:100px;
	z-index: 40;
	-webkit-transition: all 3s;
    -moz-transition: all 3s;
    transition: all 3s;
} 
#rope.init{
	top: -300px;
}
#rope.final{
	top: -50px;
}
 #movingGang{
 	height: 500px;
 	position: absolute;
 	top: -280px;
 	right: 20px;
 	display: block;
 	background-color: #00cc99;
 }   
#csec{
	height: 400px;
	position: absolute;
	top: 400px;
	font-size: 150px;
	color: #222;
	font-family: myFonts2;
	left: -400px;
	-webkit-transition: all 2s;
    -moz-transition: all 2s;
    transition: all 2s;
}

#csec.init{
	left: -200px;
}
#csec.final{
	left: 500px;
}
#hackathon{
	height: 400px;
	font-size: 150px;
	color: #222;
	font-family: myFonts2;
	position: absolute;
	top: 400px;
	z-index: 37;
	right: -400px;
	-webkit-transition: all 2s;
    -moz-transition: all 2s;
    transition: all 2s;
}

#hackathon.init{
	right: -200px;
}
#hackathon.final{
	right: 500px;
}
img {
    max-width: 100%;
    height: auto;
    margin: 5px 10px 0px 10px;
}


@media(min-width: 768px) and (max-width: 1200px){
	.header{
		/*height: 80px;*/
	}
	.play_button, .quit_button{
		margin: 0px 5px;
	}
	.quit_button{
		margin: 0px 5px;
	}
}
@media(max-width: 767px){

	.header{
		/*height: 60px;*/
	}
	img{
		margin: 5px 30px 5px 30px;
	}
	.play_button{
		display: block;

	}
	.quit_button{
		display: block;
		
		margin-top:20px;

	}
}